@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: white;
    
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

.container1{
    
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    border-radius: 10px;
    margin-top:30px;
    margin-left: 38%;
    background-color: rgba(0,0,0,0.4);
}
.container2{
    
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    border-radius: 10px;
    margin-top:30px;
    margin-left: 35%;
    background-color: rgba(0,0,0,0.4);
}

.container3{
    
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    border-radius: 10px;
    margin-top:30px;
    margin-left: 35%;
    background-color: rgba(0,0,0,0.4);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding:0px;
    padding-bottom: 10px;
    margin-top: 10px;
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 12px;
}

.button {
    margin-top: 12px;
  padding: 0.5rem;
  font-size: medium;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}